<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/homeStyle.css">
    <title>Jogo do bixo</title>
</head>

<body>
    <nav id="menu-horizontal">
        <ul>

            <li><a href="../view/home.html">Home</a></li>
            <li><a href="../view/sorteio.html">Sorteio</a></li>
            <li><a href="../view/listaSorteios.html">Ultimos jogos</a></li>
            <li>
                <h3>JOGO DO BIXO</h3>
            </li>
        </ul>
    </nav>

    <main>
        <div id="introducao">

            <h1>JOGO DO BIXO</h1>
            <p>Simulador de sorteio de "Jogo do Bixo" feito para a disciplina de Padrões de Projetos de Software
                Orientado a Objetos no objetivo de aplicar padrões de projeto no desenvolvimento.
            </p>
        </div>
        <div id="bloco-inform">

            <div id="img-div">
                <img src="../img/tabelaJogoDoBixo2.jpg">
            </div>
            <div id="texto">

                <p>A brincadeira foi criada em 1892 pelo barão João Batista Viana Drummond, fundador do zoológico do Rio
                    de
                    Janeiro. No início, o zoológico não era muito popular, então o jogo surgiu para incentivar as
                    visitas e
                    evitar que o estabelecimento fechasse as portas.
                </p>
                <p>Funcionava assim: na compra do ingresso, os visitantes recebiam um cupom com a estampa de um entre 25
                    animais. Um dos animais era sorteado no final do dia, e quem tivesse o cupom premiado recebia até 20
                    vezes o valor que pagou pelo bilhete.</p>
                <p>
                    O “incentivo” promovido pelo zoológico deu certo, mas não da maneira que o barão imaginava. Em 1894,
                    já
                    era possível comprar vários bilhetes – motivando o surgimento do bicheiro, que os vendia pela
                    cidade.
                    Assim, o sorteio virou jogo de azar. No ano seguinte, o jogo foi proibido, mas aí já tinha virado
                    febre.
                </p>
            </div>

        </div>
    </main>

    <footer>

    </footer>
</body>

</html>