<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/listaSorteioStyle.css">
    <title>Jogo do bixo</title>
</head>

<body>
    <nav id="menu-horizontal">
        <ul>

            <li><a href="../view/home.html">Home</a></li>
            <li><a href="../view/sorteio.html">Sorteio</a></li>
            <li><a href="../view/listaSorteios.html">Ultimos jogos</a></li>
            <li>
                <h3>JOGO DO BIXO</h3>
            </li>
        </ul>
    </nav>

    <main>
        <table>
            <tr>
                <th></th>
                <th>Resultado</th>
            </tr>
            <tr>
                <td>1º</td>
                <td>123-008</td>
            </tr>
            <tr>
                <td>2º</td>
                <td>113-228</td>
            </tr>
            <tr>
                <td>3º</td>
                <td>283-058</td>
            </tr>
        </table>
    </main>

    <footer>

    </footer>
</body>

</html>